@media(max-width: 4000px){
    .header {
        &__nav {
            padding:15px 168px 27px 166px ;
        }
    }
}


@media(max-width: 1280px){
    .header {
        &__nav {
            padding:15px 18px 27px 16px ;
        }
    } 
    .promo {
        &__title {
            font-size: 86px;
            line-height: 48px;
        }
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
    }  
    .wait {
        &__items {
            max-width:290px;

        }
        &__item img {
            width: 100%;
        }
    }  

}

@media(max-width: 991px){
    .promo__title{
        font-size: 77px;
    }
    .wait {
        &__items {
            max-width:290px;
            margin: 0 10px;
        }
        &__item img {
            width: 100%;
        }
        &__wrapper {
            padding: 0 10px 0 10px;
            justify-content: center;
        }
    }
    .program {
        &__descr {
            width: 75%;
        }
    }
}

@media(max-width: 769px){
    .container {
        max-width: 700px;
    }
    .header {
        height: 80px;
        &__nav {
            padding: 20px 15px 17px 15px;
        }
        &__link {
            font-size: 12px;
            & span {
                font-size: 20px;
            }
            & img {
                width: 30px;
            }
        }
    }
    .promo {
        &__title {
            font-size: 55px;
            line-height: 55px;
        }
        &__suptitle {
            font-size: 25px;
            line-height: 150%;
        }
        &__descr {
            font-size: 18px;
            line-height: 150%;
        }
    }
    .wait {
        &__wrapper {
            padding: 0 10px 0 10px;
            justify-content: center;
        }
        &__items {
        margin: 0 10px;
        }
    }
    .program {
        &__descr {
            width: 70%;
        }
        &__time:after {
            height: 100%;
        }
    }

}
@media(max-width: 447px){
    .header {
        height: 50px;
        &__link {
            font-size: 16px;
        }
        &__nav  {
            flex-direction: column;
            background-color: #f8f8f8;
            left: -100%;
            top: 50px;
            position: absolute;
            width: 45vw;
            height: 45vh;
            justify-content: space-around;
            padding: 0px 10px 10px 10px;
            transition: all .4s linear;
            border: solid 1px #000000b3;
            border-left: none;
            border-top: none;
            border-radius: 0 0 10px 0;
            & li:nth-child(4) {
                display: none;
            }
        }
        &__nav__show {
            left: 0;
            transition: all .4s linear;
        }
        .burger {
            margin: 12px 0 0 27px;
            height: 25px;
            width: 25px;
            display: inline-block;
        }        
        & .burger:before{
            content: '';
            box-shadow: 0 6px #93cce6,0 12px #93cce6;
            position: absolute;
            width: 20px;
            height: 3px;
            background: #93cce6;
            top: 17px;
            left: 30px;
            border-radius: 10px;
            transition: all .4s linear;
        
        }
        .burger:after {
            content: '';
            box-shadow: none;
            position: absolute;
            width: 20px;
            height: 0;
            background: #93cce6;
            top: 29px;
            left: 30px;
            border-radius: 10px;
            transition: all .4s linear;  
        }
        & .burger_active:before{
            content: '';
            box-shadow: none;
            position: absolute;
            width: 20px;
            height: 3px;
            background: #93cce6;
            top: 22px;
            left: 30px;
            border-radius: 10px;
            transition: all .4s linear;
            transform: rotate(45deg);
        
        }
        & .burger_active:after{
            content: '';
            box-shadow: none;
            position: absolute;
            width: 20px;
            height: 3px;
            background: #93cce6;
            top: 22px;
            left: 30px;
            border-radius: 10px;
            transition: all .4s linear;
            transform: rotate(-45deg);            
        }
        .logo_mobile{
            display: block;
        }
    }
    .program {
        &__descr {
        font-size: 14px;
        width: 50vw;
        line-height: 16px;
        }
        &__time {
            min-height: 70px;
            &:after{
                height: 100%;
            }
        }
        &__tabs label {
            font-size: 18px;
        }
    }
}