.promo {
    background: url('../img/backgrounds/first.jpg') bottom (center/cover) no-repeat;
    min-height: 720px;
    display: flex;
    justify-content: center;
    align-items:center;
    &__suptitle {
        font-family: Philosopher;
        font-weight: normal;
        font-size: 30px;
        line-height: 200%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    &__title {
        font-family: Philosopher;
        font-weight: bold;
        font-size: 100px;
        line-height: 52px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 20px;
        text-align: center;
    }
    &__descr {
        font-weight: 300;
        font-size: 20px;
        line-height: 200%;
        color: #FFFFFF;
        text-align: center;
        margin-top: 20px;
    }
}