* {
    font-family: 'Jost', sans-serif;
    margin: 0;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}



@import "header";
@import "promo";
@import "about";
@import "wait";
@import "program";
@import "media";

