* {
    font-family: 'Jost', sans-serif;
    margin: 0;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}


@media(max-width: 1439px){
    .container {
        max-width: 900px;
        margin: 0 auto;
    }    
}

@import "header";
@import "promo";
@import "about";
@import "media";
@import "wait";
@import "program"    